//fonts
$font-title: 'Oswald', sans-serif;
$font-general: 'Roboto', sans-serif;
$font-logo: 'Dancing Script', cursive;



//colors

$color-primary: #878C8F;
$color-secundary: #2B2D42;
$color-secondary-light: #F7E733;
$color-dark: rgb(51, 51, 51);
$color-gray: rgba(51, 51, 51, 0.5);
$color-light: rgb(255, 255, 255);
